<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body { 
            font-family: 'Times New Roman', Times, serif;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp Page</title>
</head>
<body>
      <h1>Login Page</h1>
      <form action="/user/login" method="post">
        <!-- Add id to inputs and associate labels properly -->
        
        <label for="email">Enter Your full email:</label>
        <input type="email" required name="email">
        
        <label for="password">Enter Your full password:</label>
        <input type="password" required name="password">

        <button type="submit">SignUp</button>
      </form>
</body>
</html>
